<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Amazon</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="bg-dark text-white p-3">
        <span class="navbar-brand ml-1">Cart</span>
    </div>
    <div class="m-1 p-1">
        @RenderBody()
    </div>
    <form id="clear" asp-page="/Cart" method="post">
        <input type="hidden" name="BookID" value="" />
        <input type="hidden" name="returnUrl" value="" />
        <input type="hidden" name="type" value="clear" />

        <span class="card-text p-1">
            @*@Model.Title*@
            <button type="submit" class="btn-success btn-sm pull-right" sylte="float:right">Clear Cart</button>
        </span>
    </form>
</body>



</html>