@{
    ViewData["Title"] = "Home Page";
}
@model BookListViewModel
@*Boostrap is used to organize the items in the list and make them look good (similar to what is done in the videos and textbook*@
@*Don't know if I can claim this looks beautiful, but I tried*@
<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div class="card-title">
        <div class="accordion">
            <table class="table-striped tbody tr:nth-of-type(odd)">

                <thead class="thead-dark">
                    <tr class="col-xl-9">

                        <td class="table-sm">Title</td>
                        <td class="table-sm">Author</td>
                        <td class="table-sm">Publisher</td>
                        <td class="table-sm">Category</td>
                        <td class="table-sm">ISBN</td>
                        <td class="table-sm">Total Pages</td>
                        <td class="table-sm">Price</td>
                    </tr>
                </thead>
                @foreach (Book b in Model.Books)
                {
                    <partial name="BookSummary" model="b" />

                }
            </table>
            <div page-model="@Model.PagingInfo" page-action="Index"></div>
        </div>
    </div>
</div>
