@{
    ViewData["Title"] = "Home Page";
}
@model BookListViewModel
@*Boostrap is used to organize the items in the list and make them look good (similar to what is done in the videos and textbook*@
@*Don't know if I can claim this looks beautiful, but I tried*@
<div class="text-center">
    <h2 class="display-4">Books</h2>

    <div class="card-title">
        <div class="accordion">
            <table class="table-striped tbody tr:nth-of-type(odd)">

                <thead class="thead-dark">
                    <tr class="col-xl-9">

                        <td class="table-sm"><b>Title</b></td>
                        <td class="table-sm"><b>Author</b></td>
                        <td class="table-sm"><b>Publisher</b></td>
                        <td class="table-sm"><b>Category</b></td>
                        <td class="table-sm"><b>Classification</b></td>
                        <td class="table-sm"><b>ISBN</b></td>
                        <td class="table-sm"><b>Total Pages</b></td>
                        <td class="table-sm"><b>Price</b></td>
                    </tr>
                </thead>
                @foreach (Book b in Model.Books)
                {
                    <partial name="BookSummary" model="b" />

                }
            </table>
            <div page-model="@Model.PagingInfo" 
                 page-action="Index"                   
                 page-classes-enabled="true" 
                 page-class="btn"
                 page-class-normal="btn-outline-dark" 
                 page-class-selected="btn-primary" 
                 class="btn-group pull-right m-1"
                 page-url-category="@Model.Category"></div>
        </div>
    </div>
</div>
